body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#231f20;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
p.No-Paragraph-Style {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Body {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 500", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.Bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 500", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:4px;
	margin-left:20px;
	margin-right:11px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
li.bullet-2 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 500", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:4px;
	margin-left:40px;
	margin-right:11px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
p.Heading-1 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	break-before:page;
	color:#231f20;
	font-family:Gobold, sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:43px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-28px;
	text-transform:uppercase;
}
p.Heading-2 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 700", sans-serif;
	font-size:15px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.15;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Heading-3 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 700", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.15;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Heading-4 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#016a6a;
	font-family:"Museo Sans 700", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Heading-4-first {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#016a6a;
	font-family:"Museo Sans 700", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.2;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Heading-5 {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 700", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.4;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.legislation {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#a7a9ac;
	font-family:"Museo Sans 500", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.body {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 500", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Note {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#6d6e71;
	font-family:"Museo Sans 500", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	margin-bottom:11px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.number {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 500", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:6px;
	margin-left:18px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-18px;
}
p.xref {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#6d6e71;
	font-family:"Museo Sans 500", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3;
	margin-bottom:11px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Heading-3-first {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 700", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.15;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Normal {
	-epub-ruby-position:over;
	color:#231f20;
	font-family:Calibri, sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.15;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.table {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 500", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.table-in-head {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 700", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.4;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.table-bullet {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 500", sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:3px;
	margin-left:20px;
	margin-right:11px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
p.table-in-head-itals-num {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 500", sans-serif;
	font-size:9px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:3px;
	margin-left:9px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-9px;
}
p.table-in-head-itals {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 500", sans-serif;
	font-size:9px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:3px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.letter-list {
	-epub-hyphens:none;
	-epub-ruby-position:over;
	color:#231f20;
	font-family:"Museo Sans 500", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.4;
	margin-bottom:4px;
	margin-left:31px;
	margin-right:11px;
	text-align:left;
	text-decoration:none;
	text-indent:-11px;
}
span.chap-num {
	color:#016a6a;
}
span.Hyperlink {
	color:#231f20;
	font-style:normal;
	font-weight:normal;
}
span.url {
	font-style:normal;
	font-weight:normal;
}
span.Heading-4-Char {
	font-size:13px;
	font-style:normal;
	font-weight:bold;
}
span.Headwords {
	color:#231f20;
	font-style:normal;
	font-weight:normal;
}
span.itals {
	font-style:italic;
	font-weight:normal;
}
span.semibold {
	font-style:normal;
	font-weight:normal;
}
table.table-style-override-1 {
	border-style:none;
	border-width:0px;
}
td.cell-style-override-1 {
	background-color:#d6b745;
	padding-left:4px;
	padding-top:4px;
}
td.cell-style-override-2 {
	background-color:#d6b745;
	padding-left:4px;
}
td.cell-style-override-3 {
	padding-bottom:6px;
	padding-left:4px;
	padding-right:6px;
	padding-top:9px;
}
td.cell-style-override-4 {
	padding-bottom:6px;
	padding-right:6px;
	padding-top:9px;
}
td.cell-style-override-5 {
	padding-bottom:6px;
	padding-left:4px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-6 {
	padding-bottom:6px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-7 {
	padding-bottom:6px;
	padding-left:4px;
	padding-right:6px;
	padding-top:4px;
}
td.cell-style-override-8 {
	padding-bottom:6px;
	padding-right:6px;
}
td.cell-style-override-9 {
	background-color:#d6b745;
}
td.cell-style-override-10 {
	padding-bottom:9px;
	padding-right:9px;
	padding-top:6px;
}
td.cell-style-override-11 {
	padding-bottom:9px;
	padding-left:0px;
	padding-right:9px;
	padding-top:9px;
}
td.cell-style-override-12 {
	padding-bottom:9px;
	padding-right:9px;
	padding-top:9px;
}
td.cell-style-override-13 {
	background-color:#f4ecd4;
	padding-bottom:6px;
	padding-left:4px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-14 {
	background-color:#f9f4e7;
	padding-bottom:6px;
	padding-left:4px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-15 {
	padding-left:0px;
}
td.cell-style-override-16 {
	padding-left:0px;
	padding-top:6px;
}
td.cell-style-override-17 {
	padding-top:6px;
}
td.cell-style-override-18 {
	padding-bottom:6px;
	padding-left:0px;
	padding-right:6px;
}
td.cell-style-override-19 {
	padding-bottom:6px;
	padding-left:0px;
	padding-right:6px;
	padding-top:6px;
}
td.cell-style-override-20 {
	padding-bottom:6px;
	padding-left:0px;
	padding-right:6px;
	padding-top:0px;
}
td.cell-style-override-21 {
	padding-bottom:6px;
	padding-right:6px;
	padding-top:0px;
}
td.cell-style-override-22 {
	padding-bottom:6px;
	padding-left:0px;
	padding-right:6px;
	padding-top:9px;
}
td.cell-style-override-23 {
	padding-bottom:9px;
	padding-left:0px;
	padding-right:9px;
	padding-top:6px;
}
p.para-style-override-1 {
	-epub-hyphens:none;
	font-family:"Museo Sans 500", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
	margin-bottom:6px;
}
p.para-style-override-2 {
	-epub-hyphens:none;
	margin-bottom:6px;
}
p.para-style-override-3 {
	margin-bottom:12px;
}
p.para-style-override-4 {
	color:#016a6a;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-5 {
	text-align:center;
}
p.para-style-override-6 {
	font-family:Wingdings, sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}
p.para-style-override-7 {
	margin-bottom:0px;
	text-align:center;
}
p.para-style-override-8 {
	margin-bottom:3px;
	text-align:center;
}
p.para-style-override-9 {
	font-family:"Open Sans", sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-10 {
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-11 {
	font-family:"Open Sans", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-12 {
	font-size:12px;
}
p.para-style-override-13 {
	margin-bottom:6px;
}
span.char-style-override-1 {
	font-family:"Museo Sans", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-2 {
	font-family:"Museo Sans 500", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:11.338582677165356px;
}
span.char-style-override-4 {
	font-family:"Museo Sans 500", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-5 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:18px;
}
span.char-style-override-6 {
	font-family:Cambria, serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-7 {
	color:#016a6a;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-8 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-9 {
	font-family:"Museo Sans 700", sans-serif;
	font-style:normal;
	font-weight:600;
}
span.char-style-override-10 {
	font-family:Georgia, serif;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-11 {
	font-family:Calibri, sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-12 {
	font-size:9px;
}
span.char-style-override-13 {
	font-size:5px;
	vertical-align:super;
}
span.char-style-override-14 {
	font-family:"Wingdings 3", sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-15 {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-16 {
	font-family:"Open Sans", sans-serif;
	font-size:10px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-17 {
	font-family:"Open Sans", sans-serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-18 {
	font-family:Georgia, serif;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-19 {
	color:#006600;
}
span.char-style-override-20 {
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
img.frame-1 {
	height:595px;
	width:595px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
img.frame-3 {
	height:40px;
	width:199px;
}
img.frame-4 {
	height:284px;
	width:609px;
}
div.frame-5 {
	height:50px;
	width:127px;
}
div.frame-6 {
	height:5px;
	width:127px;
}
div.frame-7 {
	height:26px;
	width:127px;
}
div.frame-8 {
	height:5px;
	width:79px;
}
div.frame-9 {
	height:37px;
	width:127px;
}
div.frame-10 {
	height:5px;
	width:118px;
}
div.frame-11 {
	height:23px;
	width:127px;
}
div.frame-12 {
	height:78px;
	width:127px;
}
div.frame-13 {
	height:58px;
	width:127px;
}
div.frame-14 {
	height:89px;
	width:127px;
}
div.frame-15 {
	height:120px;
	width:127px;
}
div.frame-16 {
	height:14px;
	width:127px;
}
div.frame-17 {
	height:68px;
	width:127px;
}
div.frame-18 {
	height:32px;
	width:127px;
}
div.frame-19 {
	height:41px;
	width:127px;
}
img.frame-20 {
	height:286px;
	width:612px;
}
div.frame-21 {
	height:16px;
	width:127px;
}
col.Row-Column-22 {
	width:113px;
}
col.Row-Column-23 {
	width:51px;
}
col.Row-Column-24 {
	width:73px;
}
col.Row-Column-25 {
	width:65px;
}
col.Row-Column-26 {
	width:89px;
}
col.Row-Column-27 {
	width:108px;
}
tr.Row-Column-28 {
	min-height:14px;
}
tr.Row-Column-29 {
	min-height:21px;
}
tr.Row-Column-30 {
	min-height:19px;
}
tr.Row-Column-31 {
	min-height:26px;
}
div.frame-32 {
	border-style:solid;
	border-width:1px;
	height:140px;
	width:502px;
}
div.frame-33 {
	height:110px;
	width:127px;
}
div.frame-34 {
	height:130px;
	width:127px;
}
div.frame-35 {
	height:8px;
	width:127px;
}
col.Row-Column-36 {
	width:186px;
}
col.Row-Column-37 {
	width:173px;
}
tr.Row-Column-38 {
	min-height:42px;
}
tr.Row-Column-39 {
	min-height:59px;
}
tr.Row-Column-40 {
	min-height:39px;
}
tr.Row-Column-41 {
	min-height:28px;
}
tr.Row-Column-42 {
	min-height:31px;
}
div.frame-43 {
	border-style:solid;
	border-width:1px;
	height:305px;
	width:360px;
}
col.Row-Column-44 {
	width:102px;
}
col.Row-Column-45 {
	width:155px;
}
tr.Row-Column-46 {
	min-height:157px;
}
tr.Row-Column-47 {
	min-height:90px;
}
img.frame-48 {
	height:138px;
	width:15px;
}
img.frame-49 {
	height:68px;
	width:15px;
}
img.frame-50 {
	height:72px;
	width:15px;
}
img.frame-51 {
	height:1px;
	width:504px;
}
col.Row-Column-52 {
	width:100px;
}
col.Row-Column-53 {
	width:273px;
}
col.Row-Column-54 {
	width:127px;
}
tr.Row-Column-55 {
	min-height:112px;
}
tr.Row-Column-56 {
	min-height:34px;
}
tr.Row-Column-57 {
	min-height:101px;
}
tr.Row-Column-58 {
	min-height:70px;
}
tr.Row-Column-59 {
	min-height:23px;
}
col.Row-Column-60 {
	width:82px;
}
col.Row-Column-61 {
	width:110px;
}
col.Row-Column-62 {
	width:114px;
}
col.Row-Column-63 {
	width:104px;
}
tr.Row-Column-64 {
	min-height:95px;
}
img.frame-65 {
	height:96px;
	width:15px;
}
img.frame-66 {
	height:24px;
	width:15px;
}
img.frame-67 {
	height:74px;
	width:15px;
}
img.frame-68 {
	height:52px;
	width:15px;
}
col.Row-Column-69 {
	width:203px;
}
col.Row-Column-70 {
	width:225px;
}
tr.Row-Column-71 {
	min-height:15px;
}
tr.Row-Column-72 {
	min-height:25px;
}
tr.Row-Column-73 {
	min-height:36px;
}
tr.Row-Column-74 {
	min-height:47px;
}
tr.Row-Column-75 {
	min-height:29px;
}
tr.Row-Column-76 {
	min-height:18px;
}
tr.Row-Column-77 {
	min-height:16px;
}
tr.Row-Column-78 {
	min-height:89px;
}
tr.Row-Column-79 {
	min-height:60px;
}
div.frame-80 {
	border-style:solid;
	border-width:1px;
	height:565px;
	width:360px;
}
div.frame-81 {
	height:5px;
	width:105px;
}
div.frame-82 {
	height:5px;
	width:112px;
}
div.frame-83 {
	height:47px;
	width:127px;
}
col.Row-Column-84 {
	width:180px;
}
tr.Row-Column-85 {
	min-height:43px;
}
tr.Row-Column-86 {
	min-height:55px;
}
col.Row-Column-87 {
	width:205px;
}
col.Row-Column-88 {
	width:153px;
}
tr.Row-Column-89 {
	min-height:12px;
}
tr.Row-Column-90 {
	min-height:20px;
}
tr.Row-Column-91 {
	min-height:17px;
}
